@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oleo Script Swash Caps', cursive;
}
body{
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    background: #183becea;
}
.container{
  
}
.container img{
    height: 40px;
    width: 40px;
    top: -4px;
    position: relative;
    clip-path: circle();
}
button{
    position: relative;
    padding: 4px;
    font-size: 20px;
    top: -20px;
    border: none;
    transition: all 2s;
    left: 10px;
    border-radius: 5px;
}
button:hover{
    background: #21df8a;
    transform: scale(1.1);
    color: #fff;
}
.me img{
    position: relative;
    height: 70px;
    width: 70px;
    left: 80px;
    animation: m  2s ;
}
@keyframes m{
0%{transform:rotate(-360deg);}
}
